
* {
  background-color: rgb(237, 216, 188);
}

body {
  --textColorOne: rgb(6, 108, 6);
  --textColorTwo: rgb(237, 125, 39);
  display: flex;
  justify-content: center;
  margin: 10%;
}

a {
  color: var(--textColorTwo);
}

ul {
  margin: 0;
  list-style: circle;
}

h1 {
  color: var(--textColorOne);
}
h2 {
  color: var(--textColorTwo);
}

.sectionHeader {
  font-weight: bold;
  font-size: 20px;
  color: var(--textColorOne);
}
.sectionSubHeader
{
  font-weight: bold;
  font-size: 18px;
}

.centerContent {
  display: flex;
  justify-content: center;
}

section {
  margin-bottom: 3%;
}